/*
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1px;
    margin-left: -1px;
}
*/
.div{
    overflow: hidden;
}
.div img{
    transition: all 1.5s ease;
}
.div:hover img{
    transform: scale(1.5);
}
.container{

    width: 80%;
}
.images{
    width: 100%;
    height: 140px;
    margin: 10px;
    border: 1px solid #faad26;
    background-color:white;  
    display: flex;
    position:relative;
}
img{
    background-color: #A0A0A0;
    width: 100%;
}
.div{
    float: left;
    margin-right: 10px;
    width: 25%;
    display: flex;
    min-width:100px;
    border-right: 1px solid orange;
}
.p{
    width: auto;
    margin-left: 5px;
}
button{
position: absolute;
right:    0;
bottom:   0;
}
span{
    position: absolute;
    right:    5px;
    font-family: cursive;
    font-size: 1rem;
}
input {
    font-family: FontAwesome
}