<div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <div *ngIf="mode" class="alert alert-danger">
        <strong>EMAIL OR PASSWORD IS FALSE</strong>
      </div>

<form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1" >Email address</label>
      <input type="email"
             formControlName="email"
             class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             placeholder="Enter email">
      <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched || loginForm.get('email').dirty">
        <div *ngIf="loginForm.get('email').getError('required')" class="text-danger"> this field is required</div>
        <div *ngIf="loginForm.get('email').getError('email')" class="text-danger"> Respect champs email </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" >Password</label>
      <input type="password"
            formControlName="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password">
      <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched || loginForm.get('password').dirty">
        <div *ngIf="loginForm.get('password').getError('required')" class="text-danger"> this field is required</div>
        <div *ngIf="loginForm.get('password').getError('minlength')" class="text-danger"> min=8char && max 12char </div>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" class="btn  btn-block btn-danger" (click)="login()">SE CONNECTER</button>
  </form>

</div>
</div>